cython==0.29.33
matplotlib==3.5.3
numpy==1.21.5
#packaging==22.0
#pathtools==0.1.2
pillow==9.3.0
pip==22.3.1
pycocotools==2.0.4
#pytorch==1.7.1
pytorch==1.0.2
pyyaml==6.0
scipy==1.7.3
torchaudio==0.7.2
torchvision==0.8.2
wandb==0.16.2
wheel==0.38.4
