cudatoolkit==11.0.221
cycler==0.11.0
cython==0.29.33
freetype==2.12.1
gitdb==4.0.7
gitpython==3.1.41
matplotlib-base==3.5.3
numpy==1.21.5
numpy-base==1.21.5
openssl==1.1.1w
packaging==22.0
pathtools==0.1.2
pillow==9.3.0
pip==22.3.1
pycocotools==2.0.4
python==3.7.16
pytorch==1.7.1
pyyaml==6.0
scipy==1.7.3
torchaudio==0.7.2
torchvision==0.8.2
wandb==0.16.2
wheel==0.38.4
